In [14]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [15]:
data = pd.read_csv('movie_bd_v5.csv')
data_6 = data['profit'] = data['revenue'] - data['budget']
data_6 = data
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
912,tt0120679,12000000,56298474,Frida,Salma Hayek|Alfred Molina|MÃ­a Maestro|Patrici...,Julie Taymor,Prepare to be seduced,"""Frida"" chronicles the life Frida Kahlo shared...",123,Drama|Romance,Miramax Films|Lions Gate Films|Ventanarosa Pro...,8/29/2002,7.3,2002,44298474
1495,tt0455590,6000000,48027970,The Last King of Scotland,Forest Whitaker|James McAvoy|Simon McBurney|Gi...,Kevin Macdonald,Charming. Magnetic. Murderous.,"Young Scottish doctor, Nicholas Garrigan decid...",121,Drama,Fox Searchlight Pictures|Cowboy Films|DNA Film...,9/1/2006,7.3,2006,42027970
1363,tt0452598,60000000,129181830,Cheaper by the Dozen 2,Steve Martin|Eugene Levy|Bonnie Hunt|Tom Welli...,Adam Shankman,Same Big Family... Even Bigger Adventure.,Steve Martin and Bonnie Hunt return as heads o...,94,Adventure|Comedy|Family,Twentieth Century Fox Film Corporation,12/21/2005,5.8,2005,69181830
587,tt0249478,75000000,54249294,Domestic Disturbance,John Travolta|Vince Vaughn|Teri Polo|Matt O'Le...,Harold Becker,He will do anything to protect his family.,A divorced father discovers that his 12-year-o...,89,Mystery|Thriller|Crime,Paramount Pictures,10/30/2001,5.4,2001,-20750706
1666,tt0359517,12000000,31179516,Johnson Family Vacation,Cedric the Entertainer|Vanessa Williams|Steve ...,Christopher Erskin,Take the ride.,AAA can't help the roadside emergency that is ...,97,Comedy|Family,Fox Searchlight Pictures|Bird and a Bear Enter...,4/7/2004,5.3,2004,19179516

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [16]:
answers = {} # создадим словарь для ответов

# добавим еще один столбец
data_6 = data['profit'] = data['revenue'] - data['budget']
data_6 = data

# Добавим функцию к заданию 11
data.genres = data.genres.apply(lambda x:x.split(sep='|'))

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [17]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:

data[(data.budget == data.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения
data[(data.budget == data.budget.max())][['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [18]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [11]:
data[(data.runtime == data.runtime.max())][['original_title','imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [12]:
data[(data.runtime == data.runtime.min())][['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [20]:
answers['4'] = '4. 110'

In [15]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [21]:
answers['5'] = '1. 107'

In [19]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [22]:
answers['6'] = '5. Avatar (tt0499549)'

In [62]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[(data.profit == data.profit.max())][['original_title','imdb_id']]

    original_title    imdb_id
239         Avatar  tt0499549

# 7. Какой фильм самый убыточный?

In [23]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [71]:
data[(data.profit == data.profit.min())][['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
answers['8'] = '1. 1478'

In [50]:
data[(data.revenue > data.budget)].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [52]:
data_9 = data[(data.release_year == 2008)][['original_title','imdb_id','revenue']]
data_9[(data_9.revenue == data_9.revenue.max())][['original_title','imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [54]:
data_10 = data.query('2012<=release_year<=2014')
data_10[(data_10.profit == data_10.profit.min())][['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [65]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data_11 = data.genres = data.genres.apply(lambda x:x.split(sep='|')).explode().value_counts()

In [27]:
answers['11'] = "3. Drama"

In [66]:
data_11

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = '1. Drama'

In [75]:
data_12 = data.query('profit>0')
profit_12 = data_12.genres = data_12.genres.apply(lambda x:x.split(sep='|')).explode().value_counts()
profit_12

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
answers['13'] = '5. Peter Jackson'

In [79]:
data_13 = data.groupby(['director']
                      )['revenue'].sum().sort_values(ascending=False).head(3)
data_13

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [30]:
answers['14'] = '3. Robert Rodriguez'

In [93]:
data_14 = data[data.genres.str.contains('Action',na=False)]
director = data_14.director = data_14.director.apply(lambda x:x.split('|')).explode().value_counts()
director

Robert Rodriguez                    9
Michael Bay                         7
Paul W.S. Anderson                  7
Antoine Fuqua                       6
Ridley Scott                        6
                                   ..
Daniel Barber                       1
Oliver Parker                       1
Alexander Witt                      1
Joel Coen                           1
Florian Henckel von Donnersmarck    1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [31]:
answers['15'] = '3. Chris Hemsworth'

In [96]:
data_15 = data.query('release_year==2012')
actors = data_15[(data_15.revenue == data_15.revenue.max())
                ].cast.str.split('|').explode().value_counts()
actors

Robert Downey Jr.     1
Mark Ruffalo          1
Scarlett Johansson    1
Chris Evans           1
Chris Hemsworth       1
Name: cast, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [32]:
answers['16'] = '3. Matt Damon'

In [100]:
data_16 = data[(data.budget > data.budget.mean())
              ].cast.str.split('|').explode().value_counts()
data_16

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Samuel L. Jackson        15
Tom Cruise               15
                         ..
Tyler Hoechlin            1
Craig Bierko              1
Lily Tomlin               1
Svetlana Khodchenkova     1
Mary Gibbs                1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [33]:
answers['17'] = '2. Action'

In [101]:
data_17 = data[data.cast.str.contains('Nicolas Cage',na=False)]
data_17.genres.str.split('|').explode().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
War                 1
Horror              1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [34]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [123]:
data_18 = data[data.production_companies.str.contains('Paramount Pictures',na=False)]
data_18[(data_18.profit == data_18.profit.min())][['original_title','imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [35]:
answers['19'] = '5. 2015'

In [124]:
data_19 = data.groupby(['release_year']
                      )['revenue'].sum().sort_values(ascending=False).head(3)
data_19

release_year
2015    25449202382
2014    23405862953
2013    23213799791
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [36]:
answers['20'] = '1. 2014'

In [126]:
data_20 = data[data.production_companies.str.contains('Warner Bros',na=False)]
temp_df = data_20.groupby(['release_year']
                      )['profit'].sum().sort_values(ascending=False).head(3)
temp_df

release_year
2014    2295464519
2007    2201675217
2008    2134595031
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [37]:
answers['21'] = '4.Сентябрь '

In [4]:
import pandas as pd
data_21 = pd.read_csv('movie_bd_v5.csv')
data_21.release_date = data_21.release_date.apply(lambda x:x.split('/'))
data_21['month'] = data_21.release_date = data_21.release_date.apply(lambda x:x[0])
data_21.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [38]:
answers['22'] = '2. 450'

In [5]:
len(data_21[data_21.month.isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [39]:
answers['23'] = '5. Peter Jackson '

In [6]:
data_21[data_21.month.isin(['12','1','2'])].director.value_counts().head(5)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Nancy Meyers         4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [40]:
answers['24'] = '5. Four By Two Productions'

In [8]:
import pandas as pd
data_24 = pd.read_csv('movie_bd_v5.csv')

data_24['title_len'] = data_24.original_title = data_24.original_title.apply(lambda x:len(x))
data_24.production_companies = data_24.production_companies.apply(lambda x:x.split('|'))
data_24 = data_24.explode('production_companies')
l_df = data_24.groupby(['production_companies']
                      )['title_len'].max().sort_values(ascending=False).head(3)
l_df

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Name: title_len, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
answers['25'] = '3. Midnight Picture Show '

In [9]:
import pandas as pd
data_25 = pd.read_csv('movie_bd_v5.csv')

data_25.overview = data_25.overview.apply(lambda x:len(x))
data_25.production_companies = data_25.production_companies.apply(lambda x:x.split('|'))
data_25 = data_25.explode('production_companies')
o_df = data_25.groupby(['production_companies']
                      )['overview'].mean().sort_values(ascending=False).head(3)
o_df

production_companies
Midnight Picture Show               1000.0
Room 9 Entertainment                 964.0
Brookwell-McNamara Entertainment     936.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [42]:
answers['26'] = '1 Inside Out, The Dark Knight, 12 Years a Slave '

In [11]:
data_26 = data[(data.vote_average > data.vote_average.quantile(0.99))
              ][['original_title','imdb_id','vote_average']]
data_26.sort_values('vote_average',ascending=False)

                                     original_title    imdb_id  vote_average
599                                 The Dark Knight  tt0468569           8.1
9                                        Inside Out  tt2096673           8.0
34                                             Room  tt3170832           8.0
118                                    Interstellar  tt0816692           8.0
125                              The Imitation Game  tt2084970           8.0
119                         Guardians of the Galaxy  tt2015381           7.9
128                                       Gone Girl  tt2267998           7.9
138                        The Grand Budapest Hotel  tt2278388           7.9
370                                       Inception  tt1375666           7.9
872                                     The Pianist  tt0253474           7.9
1081  The Lord of the Rings: The Return of the King  tt0167260           7.9
1183                        The Wolf of Wall Street  tt0993846           7.9
1191                               12 Years a Slave  tt2024544           7.9
1800                                        Memento  tt0209144           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [43]:
answers['27'] = '5.Daniel Radcliffe & Rupert Grint '

In [12]:
import pandas as pd
import collections

data_27 = pd.read_csv('movie_bd_v5.csv')
data_27.cast = data_27.cast.apply(lambda x:x.split('|'))

from itertools import combinations

data_27['set'] = data_27.cast.apply(lambda s:list(combinations(s, 2)))
data_27 = data_27.explode('set')

collections.Counter(data_27['set']).most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

ВАРИАНТ 2

# Submission

In [44]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4.Сентябрь ',
 '22': '2. 450',
 '23': '5. Peter Jackson ',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show ',
 '26': '1 Inside Out, The Dark Knight, 12 Years a Slave ',
 '27': '5.Daniel Radcliffe & Rupert Grint '}

In [45]:
# и убедиться что ни чего не пропустил)
len(answers)

27